#!/usr/bin/make -f
clean:
	dh_testroot
	dh_testdir
	-@cd $(PWD)/gui && (make distclean || true)
	-@rm -rf $(PWD)/debian/tmp
	dh_clean 

build:
	dh_testdir
	dh_prep
	cd $(PWD)/gui && (qmake-qt4 || qmake)
	cd $(PWD)/gui && make
	install -m 0755 -d debian/tmp/usr/bin
	install -m 0755 timelapsecam.sh debian/tmp/usr/bin
	install -m 0755 gui/timelapsecam-qt4 debian/tmp/usr/bin

binary:
	dh_testroot
	dh_testdir
	dh_installdirs
	dh_install --sourcedir=debian/tmp
	dh_link
	dh_fixperms
	dh_compress
	dh_shlibdeps
	dh_installdeb
	dh_installchangelogs
	dh_md5sums
	dh_gencontrol
	dh_builddeb

binary-arch: binary
binary-indep: binary

.PHONY: clean build binary binary-arch binary-indep

